{% extends 'base.html' %}
{% block content %}
        <div class="container mt-5 mb-3">
        <h1>Categories list:</h1>
        {% for category in categories %}
            <ul>View details
                <a href="{% url 'category-detail' category.id %}" class="btn btn-primary mx-4">{{ category.name }} </a>
            </ul>
        {% endfor %}<br>
        </div>
    <a href="{% url 'category-create' %}" class="btn btn-primary mx-4">Create next</a>
    <a href="{% url 'landing-page' %}" class="btn btn-primary mx-4">Back</a>
{% endblock %}