{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h2 class="text-center">Create category</h2>
        <form action="{% url 'category-create' %}" method="POST" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group">
                <label class="control-label" for="id_name">Category Name</label>
                <input type="text" class="form-control" id="id_name" name="name">
            </div>
            <div class="form-group">
                <label class="control-label" for="id_parent_category">Parent Category</label>
                <select class="form-control" id="id_parent_category" name="parent_category">
                    <option value="" selected>None</option>
                    {% for category in categories %}
                        {% if not category.parent_category %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="text-center">
                <button class="btn btn-primary waves-effect waves-light" id="btn-submit">Save</button>
            </div>
        </form>
    </div>
{% endblock %}

