{% extends 'base.html' %}
{% block content %}
    <div class="container mt-5 mb-3">
        <h1>Location list:</h1>
        {% for location in locations %}
            <ul>View details:
                <a href="{% url 'locations-detail' location.id %}" class="btn btn-primary mx-4">
                    s{{ location.id }}</a>
            </ul>
        {% endfor %}
    </div><br>
    <a href="{% url 'locations-create' %}" class="btn btn-primary mx-4">Create next</a>
    <a href="{% url 'landing-page' %}" class="btn btn-primary mx-4">Back</a>
{% endblock %}