{% extends 'base.html' %}
{% block content %}
    <div class="container mt-5 mb-3">
        <div class="row">
            {% for location in locations %}
                <div class="card shadow" style="width: 20rem; height: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ location.room }} <br>
                            <small>
                                {{ location.bookcase }}<br>
                                {{ location.shelf }}<br>
                                {{ location.cupboard }}<br>
                                {{ location.column }}<br>
                                {{ location.row }}
                            </small>
                        </h5>
                        <p>
                            <a href="/locations/{{ location.id }}/delete/" class="btn btn-danger
                                            mx-4">Delete</a>
                            <a href="/locations/{{ location.id }}/update/" class="btn btn-primary mx-4">Update</a></p>
                    </div>

                </div>

            {% endfor %}
        </div>
    </div>
    <a href="{% url 'locations-create' %}" class="btn btn-primary mx-4">Create next</a>
    <a href="{% url 'landing-page' %}" class="btn btn-primary mx-4">Back</a>
{% endblock %}