{% extends 'base.html' %}
{% block content %}
    <div class="container mt-5 mb-3">
        <div class="row">
            {% for part in parts %}
                <div class="col-lg-4 my-4">
                    <div class="card shadow" style="width: 20rem; height: 25rem;">
                        <div class="card-body">
                            <h5 class="card-title">Part name: {{ part.name }} <br>
                                <small>Serial number: {{ part.serial_number }}<br>
                                    Description: {{ part.description }} <br>
                                    Category: {{ part.category }} <br>
                                    Quantity: {{ part.quantity }} <br>
                                    Price: {{ part.price }} <br>
                                    Location room: {{ part.location.room }}<br>
                                    <ul>
                                        Bookcase: {{ part.location.bookcase }}<br>
                                        Shelf: {{ part.location.shelf }}<br>
                                        Cupboard: {{ part.location.cupboard }}<br>
                                        Column: {{ part.location.column }}<br>
                                        Row: {{ part.location.row }}
                                    </ul>
                                </small>
                            </h5>
                            <a href="/parts/{{ part.id }}/delete/" class="btn btn-danger mx-4">Delete</a>
                            <a href="/parts/{{ part.id }}/update/" class="btn btn-primary mx-4">Update</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <a href="{% url 'part-create' %}" class="btn btn-primary mx-4">Create next</a>
    <a href="{% url 'part-list' %}" class="btn btn-primary mx-4">Back</a>
{% endblock %}