{% extends 'base.html' %}
{% block content %}
        <div class="container mt-5 mb-3">
        <h1>Parts list:</h1>
        {% for part in parts %}
            <ul>View details
                <a href="{% url 'part-detail' part.id %}" class="btn btn-primary mx-4">{{ part.name }} </a>
            </ul>
        {% endfor %}<br>
        </div>
    <a href="{% url 'category-create' %}" class="btn btn-primary mx-4">Create next</a>
    <a href="{% url 'landing-page' %}" class="btn btn-primary mx-4">Back</a>
{% endblock %}